*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

form {
  /* position: absolute;
  top: -335px;
  left: 152px; */
}

#input-form {
  padding: 15px;
  background-color: #570628;
  width: 430px;
  position: absolute;
  top: 300px;
  left: 162px;
}

#input-form input {
  padding: 10px;
  font-size: 20px;
  width: 400px;
}
